@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1667717130920') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-suijibofang:before {
  content: "\e603";
}

.icon-bofang-xunhuanbofang:before {
  content: "\e68d";
}

.icon-play:before {
  content: "\e98c";
}

.icon-pause:before {
  content: "\e98f";
}

.icon-List-1:before {
  content: "\e69e";
}

.icon-fangda-:before {
  content: "\e60e";
}

.icon-shangyishou:before {
  content: "\e604";
}

.icon-xiayishou:before {
  content: "\e602";
}

.icon-triangle:before {
  content: "\e61a";
}

.icon-fangda:before {
  content: "\e650";
}

.icon-add-bold:before {
  content: "\e685";
}

